<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='imgs/site2.png') }}" />
    <title>TryHackFit - Fitstic</title>
    <link href="{{ url_for('static', filename='css/common_user.css') }}" type="text/css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/common_admin.js') }}" defer></script>
    <link href="{{ url_for('static', filename='css/common.css') }}" type="text/css" rel="stylesheet">
</head>

<header class="header">
    <div class="logo">
        <a href="https://www.fitstic.it/" target="_blank">
            <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo TryHackMe - FitStic">
        </a>
        <span>  </span>
        <span>Benvenuto {{ session.username }}</span>
        
    </div>

    <div class="header-buttons">
        <span id="clock" class="clock"></span>
        <span>  </span>
        <button onclick="window.location.href='{{ url_for('logout') }}'">Esci</button>
    </div>
</header>
</html>
