<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='imgs/site2.png') }}" />
        <title>TryHackFit - FitStic</title>
        <link href="{{ url_for('static', filename='css/password_test.css') }}" type="text/css" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/password_test.js') }}" defer></script>

    </head>

    <body>

        {% include 'common.html' %}
        <div><br></br></div>

        <h2 class="registration-title">Testa la tua Password</h2>

        <form>

            <label for="password">Password:</label>
            <input type="text" id="password" name="password" oninput="checkPassword()">
            <div id="password-status"></div>
            <div id="password-length"></div>
            <div id="password-uppercase"></div>
            <div id="password-number"></div>
            <div id="password-special"></div>
            
            <div class="progress-bar">
                <div class="progress-bar-fill" id="progress-bar-fill"></div>
            </div>
            <div class="time-estimate" id="time-estimate"></div>
            
        </form>

        <!-- Password Display -->
        <div id="password-display" class="password-display"></div>

    </body>
</html>
